<div id="tela-carregando" class="section center-align"
     hx-get="{% url 'task_status' task_id=documento.task_id %}"
     hx-trigger="load delay:3s" 
     hx-swap="outerHTML">
    
    <h4>Processando...</h4>
    
    <div class="preloader-wrapper big active" style="margin: 3rem 0;">
        <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left"><div class="circle"></div></div>
            <div class="gap-patch"><div class="circle"></div></div>
            <div class="circle-clipper right"><div class="circle"></div></div>
        </div>
    </div>
    
    <p class="grey-text">Estamos trabalhando no seu arquivo...</p>
    
    <br><br>
    <!-- Botão Cancelar/Voltar (Link limpo) -->
    <a href="/" class="btn grey waves-effect">Cancelar</a>
</div>
