<div class="col s12 m8 offset-m2">
    <div class="card-panel center-align z-depth-2 hoverable">
        <h4 class="red-text text-accent-4">Ops! Algo deu errado.</h4>
        
        <div style="margin: 2rem 0;">
            <i class="material-icons large red-text text-accent-4">error_outline</i>
        </div>
        
        <p class="grey-text text-darken-1 flow-text">
            Não foi possível processar seu documento.
        </p>
        
        {% if documento.log_processamento %}
            <div class="card-panel red lighten-5 left-align" style="margin-top: 20px;">
            </div>
        {% endif %}
        
        <br><br>
        
        <!-- Botão Voltar (Link Direto) -->
        <a href="/" class="btn-large grey waves-effect waves-light">
            <i class="material-icons left">arrow_back</i>Tentar Novamente
        </a>
    </div>
</div>