{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flamel - PDF Tools</title>

    <!-- Materialize CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!-- CSS Customizado -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    
    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    
    <!-- Scripts JS -->
    <script src="{% static 'js/app.js' %}" defer></script>
</head>
<body class="grey lighten-4">

    <!-- Navbar Minimalista (Opcional, pode remover se quiser tela 100% limpa) -->
    <nav class="white z-depth-1">
        <div class="nav-wrapper container">
            <a href="/" class="brand-logo black-text">
                <i class="material-icons left teal-text">science</i>Flamel
            </a>
        </div>
    </nav>

    <main>
        <!-- O container principal onde as telas serão renderizadas -->
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <!-- Materialize JS CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>