{% extends "base.html" %}

{% block content %}

<!-- TUDO que estiver dentro desta DIV será substituído pela próxima tela -->
<div id="content-area" class="section center-align">
    
    <h4>Dashboard</h4>
    <p class="grey-text">Selecione uma ferramenta:</p>
    <br>

    <div class="row">
        <!-- Opção 1 -->
        <div class="col s12 m4">
            <div class="card hoverable" 
                 hx-get="{% url 'upload_file' %}?mode=MELHORAR_PDF"
                 hx-target="#content-area"
                 hx-swap="innerHTML">
                <div class="card-content">
                    <i class="material-icons large teal-text">picture_as_pdf</i>
                    <p class="card-title grey-text text-darken-4">Melhorar PDF</p>
                </div>
            </div>
        </div>

        <!-- Opção 2 -->
        <div class="col s12 m4">
            <div class="card hoverable"
                 hx-get="{% url 'upload_file' %}?mode=TRANSFORMAR_AUDIO"
                 hx-target="#content-area"
                 hx-swap="innerHTML">
                <div class="card-content">
                    <i class="material-icons large cyan-text">hearing</i>
                    <p class="card-title grey-text text-darken-4">PDF para Áudio</p>
                </div>
            </div>
        </div>

        <!-- Opção 3 -->
        <div class="col s12 m4">
            <div class="card hoverable"
                 hx-get="{% url 'upload_file' %}?mode=EXTRAIR_TEXTO"
                 hx-target="#content-area"
                 hx-swap="innerHTML">
                <div class="card-content">
                    <i class="material-icons large amber-text text-darken-2">description</i>
                    <p class="card-title grey-text text-darken-4">Extrair Texto</p>
                </div>
            </div>
        </div>
    </div>

    <br>
    <a href="/login/" class="btn red lighten-1 waves-effect">Sair</a>

</div>
{% endblock content %}