<div id="tela-download" class="section center-align">
    <h4>Arquivo pronto!</h4>
    
    <div style="margin: 2rem 0;">
        <i class="material-icons large green-text">check_circle</i>
    </div>
    
    <p class="flow-text grey-text text-darken-1">Seu PDF foi processado com sucesso.</p>
    
    <br>
    
    <!-- Link de Download Real -->
    <a href="{% url 'download_file' file_id=documento.id %}" class="btn-large green waves-effect waves-light pulse">
        <i class="material-icons left">file_download</i>Baixar Arquivo
    </a>
    
    <br><br><br>
    
    <!-- Botão Voltar (Link limpo) -->
    <a href="/" class="btn grey waves-effect">Voltar ao Início</a>
</div>